/*FONTS
font-family: 'Lato', sans-serif;
*/

$text-color: #222D49;
$link-color: #DC4444;
$red: #DC4444;
$black: rgba(0,0,0,1);
$deep-blue: #222D49;
$deep-red: #B23131;
$light-blue: #4A90E2;
$white: rgba(255,255,255,1);
$green: rgba(43,160,90,1);
$grey: rgba(60,60,60,.5);
$light-grey: rgba(60,60,60,1);
$salmon: rgba(255,146,153,1);

/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

// Type
$sans: Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

// Colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}


body {
  background: #F7F7F7;
  font-family: $serif;
  font-size: 18px;
  line-height: 28px;
  color:$text-color;
  -webkit-overflow-scrolling: touch;
}

a {
  color:$light-blue;
}

a:hover {
  text-decoration: underline;
 color:$light-blue;
}

hr {
  margin:48px auto;
  width: 60%;
  border-bottom: 1px $text-color solid;
}

h1,h2,h3,h4,h5,h6{
  color:$deep-blue;
  a{
    color:$deep-blue;
  }
  a:hover{
    color:$deep-blue;
  }
}

h1 {
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
}

h4 {
  margin-top: 35px;
  font-weight: 800;
  font-size: 24px;
  font-family: $sans;
}

h5 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  font-family: $sans;
}

h6 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $sans;
  a {
    color:$red;
  }
  a:hover {
    color:$red;
  }
}


// .container{
//   max-width: 100%;
  
//   @media #{$break-sm} {
//     max-width: 780px;
//   }
//   @media #{$break-md} {
//     max-width: 780px;
//   }
//   @media #{$break-lg} {
//     max-width: 780px;
//   }
// }

// .single .container{
//   max-width: 100%;
  
//   @media #{$break-sm} {
//     max-width: 960px;
//   }
//   @media #{$break-md} {
//     max-width: 960px;
//   }
//   @media #{$break-lg} {
//     max-width: 960px;
//   }
// }

section{
  padding:10px 0;
}


.highlight{
  background: yellow;
}


#main{
  padding:30px 0 50px 0;
  @media #{$break-sm} {
    background:none;
  }
}


.follow-btn{
  margin: 0 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  a{
    color: $light-blue;
    font-weight: 300;
    text-decoration: none;
    i{
      margin-right: 3px;
      position: relative;
      top:5px;
      font-size: 30px;
      line-height: 30px;
    }
  }
}
.follow-btn-tw{
  i{
    color:#00aced;
  }
}
.follow-btn-fb{
  i{
    color:#3b5998;
  }
}


#listmaker{
  p{
    font-family: $sans;
  }
}