$text-color: #222D49;
$text-color: #f8f8f8;
$link-color: #DC4444;
$red: #DC4444;
$black: rgba(0,0,0,1);
$deep-blue: #222D49;
$deep-red: #B23131;
$light-blue: #4A90E2;
$white: rgba(255,255,255,1);
$green: rgba(43,160,90,1);
$grey: rgba(60,60,60,.5);
$light-grey: rgba(60,60,60,1);
$salmon: rgba(255,146,153,1);

/*Break Points*/
$break-xs: "screen and (max-width: 767px)";
$break-sm: "screen and (min-width: 768px)";
$break-md: "screen and (min-width: 992px)";
$break-lg: "screen and (min-width: 1200px)";

// Type
$sans: Helvetica, Arial, sans-serif;
$serif: 'Crimson Text', Georgia, serif;

// Colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}


body {
  background: #256DF7;
  font-family: $serif;
  font-size: 24px;
  line-height: 28px;
  color:$text-color;
  -webkit-overflow-scrolling: touch;
}

a {
  color:$light-blue;
}

a:hover {
  text-decoration: underline;
  color:$light-blue;
}

hr {
  margin:48px auto;
  width: 60%;
  border-bottom: 1px $text-color solid;
}


h1 {
  margin:0 0 10px 0;
  font-weight: 900;
  font-size: 24px;
}

h3 {
  margin:0 0 10px 0;
  font-size: 24px;
  font-style: italic;
}

.main{
  padding:120px 0;
}

#nav{
  padding:0;
  list-style: none;
}

#head-small{
  h1,
  .back-to-home{
    display: inline-block;
  }
  h1{
    margin-bottom: 20px;
    margin-right: 20px;
  }
  span{
    font-weight: bold;
  }
}


* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
